#wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#image-holder{
  width: 1500px;
  margin: 18px 50px 50px 100px;
  height: 400px;
  border: #e84545 2px solid;
  background-color: white;
}

#project-details{
  margin-right:40px;
    color: rgb(78, 78, 78);
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5rem;
    
}

#project{
  padding-top: 50px;
}

#project-field{
  font-weight: 600;
  color:#e84545;
  line-height: 2;
  margin-bottom: -15px;
  margin-top: 45px;
}

#project-title{
  color: black;
}

#project-description{
  margin-top:30px;
  margin-bottom: 40px;
}

.project-button{
  display: inline-block;
  border-radius: 5px;
  background-color: #e84545;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.project-button-secondary{
  display: inline-block;
  border-radius: 5px;
  border: 2px #e84545 solid; 
  color: #e84545 ;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.project-button span, .project-button-secondary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.project-button span:after, .project-button-secondary span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.project-button:hover span, .project-button-secondary:hover span {
  padding-right: 25px;
}

.project-button:hover span:after, .project-button-secondary:hover span:after  {
  opacity: 1;
  right: 0;
}