#wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

#image-holder{
  width: 450px;
  margin-left: 10%;
  margin-right: 10%;
  height: 350px;
  min-width: 40%;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  overflow: hidden;
}

#project-details{
  display: flex;
  flex-direction: column;
  align-items: center; 
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.5rem;
}

#project{
  padding-top: 50px;
}

#buttons a{
  display: flex;
  flex-direction: row;
}
#project-field{
  font-weight: 600;
  color:#e84545;
  line-height: 2;
  margin-bottom: -15px;
  margin-top: 20px;
}

#project-title{
  color: black;
}

#project-description{
  margin-top:10px;
  margin-bottom: 10px;
  max-width: 70%;
}

.project-button{
  display: inline-block;
  border-radius: 5px;
  background-color: #e84545;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.project-button-secondary{
  display: inline-block;
  border-radius: 5px;
  border: 2px #e84545 solid; 
  color: #e84545 ;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.project-button span, .project-button-secondary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.project-button span:after, .project-button-secondary span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.project-button:hover span, .project-button-secondary:hover span {
  padding-right: 25px;
}

.project-button:hover span:after, .project-button-secondary:hover span:after  {
  opacity: 1;
  right: 0;
}

@media (min-width: 1100px) {
  #image-holder{
    width: 500px;
    margin: 18px 50px 0px 100px;
    height: 400px;
    border-radius: 20px;
  }
  #wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  #project-details{
    display: inline-block;
    margin-right:3%;
    color: rgb(78, 78, 78);
    font-weight: 600;
    font-size: 17px;
    line-height: 1.5rem;
  }
  
  #project{
    padding-top: 50px;
  }
  
  #project-field{
    font-weight: 600;
    color:#e84545;
    line-height: 2;
    margin-bottom: -15px;
    margin-top: 45px;
  }
  #project-description{
    margin-top:30px;
    margin-bottom: 40px;
  }
}

@media (max-width: 388px) {
  #wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }
  
  #image-holder{
    max-width: 90%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    overflow: hidden;
  }
  
  #project-details{
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: rgb(78, 78, 78);
    font-weight: 600;
    font-size: 17px;
    line-height: 1.5rem;
  }
  
  #project{
    padding-top: 50px;
  }
  
  #buttons a{
    display: flex;
    flex-direction: row;
  }
  #project-field{
    font-weight: 600;
    color:#e84545;
    line-height: 2;
    margin-bottom: -15px;
    margin-top: 20px;
  }
  
  #project-title{
    color: black;
  }
  
  #project-description{
    margin-top:10px;
    margin-bottom: 10px;
    /* max-width: 70%; */
  }
}