.bodyContainer{

  background-color: rgb(246, 242, 242);
            animation: fadeInAnimation ease 3s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards; 
        } 
        @keyframes fadeInAnimation { 
            0% { 
                opacity: 0; 
            } 
            100% { 
                opacity: 1; 
            } 
}

footer{
    width: 100%;
    height:125px;
    background-color:rgb(246, 242, 242);
}


  .footer {
    margin: 20px auto 0 auto;
    color: #eaf6f6;
    font-size: 0.75rem;
    width: 30%;
    padding-top: 30px;
  }
