.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  animation: fadeInAnimation ease 2s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
}

.introText{
  width: 450px;
  text-align: center;
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5rem;
}

.cta{
  width: 450px;
  text-align: center;
  color: rgb(78, 78, 78);
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5rem;
}

.title{
  font-size: 50px;
  margin-bottom: 10px;
}

.Capa_1{
  widows: 75px;
  height: 75px;
}

.banner{
  /* background-color: #f38181; */
  background-color: #e84545;
  height: 300px;
  width: 100%;
  margin-top: 100px
}
.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #e84545;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonWrapper{
  margin-top: 10px;

}